@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    background-color: black;
    color: white;
}
header>i {
    margin: 30px;
}

header>h1 {
    font-size: 2.5rem;
}

nav>ul>li {
    list-style: none;
    font-size: 5.5rem;
    margin: 3rem;
    font-weight: 200;
    transform: rotate3d(0, 0, 0, 0deg) translateX(px) scale(.5);
    transition: transform 400ms ease-in;
}
nav>ul>li.visibleToo {
    transform: rotate3d(1, 1, 0, 360deg) translateX(50px) scale(1);
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 300ms ease-in-out;
    transform: translateY(-100%);
}

#overlay.visible {
    transform: translateY(0);

}

#x-mark {
    position: absolute;
    top: 38px;
    left: 30px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
/* start of slider  */


.slider-wrapper {
    --slide-width: clamp(320px, 75vw, 800px);
    
    position: relative;
    display: grid;
    grid-template-columns: 45px var(--slide-width) 45px;
    align-items: center;
}

.slider {
    --slide-width: clamp(320px, 75vw, 800px);
    --slide-height: clamp(240px, 75vh, 600px);
    grid-column: 2;
    display: grid;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    max-width: var(--slide-width);
    border: 5px solid #fff;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.slide {
    scroll-snap-align: start;
    width: var(--slide-width);
    height: var(--slide-height);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dots a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    cursor: pointer;

}

.dots a:hover {
    opacity: 1;
}


.buttons {
    font-size: 4rem;
    height: 100%;
    color: #fff;
    background-color: black;
    opacity: 0.60;
    transition: opacity 250ms ease-in;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

.buttons:hover {
    opacity: 1;
}

#right-btn {
    /* left: 99.5%; */
    grid-column: 3;
    grid-row: 1;
}
#left-btn {
    /* left: -5.2%; */
    grid-column: 1/2;
    grid-row: 1;
}
